.html {
 min-height: 100%;
}

.body {}

.header-section {
 position: fixed;
 z-index: 10;
 width: 1665px;
 padding-top: 20px;
 padding-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
}

.content-section {
 padding-top: 70px;
 padding-bottom: 150px;
}

.footer-section {
 padding-top: 50px;
 height: 60px;
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
}
